mixin statcss(path)
    link(
    rel="stylesheet"
    href=path
    )

mixin statjs(path)
    script(
    src=path
    type="text/javascript"
    )

mixin statfont(path)    
    link(rel="preload"
    href=path
    as="font"
    crossorigin="anonymous"
    )
